
<h1>Autoavaliação</h1>
 <div id="body">
     {{{body}}}
 </div>
 
{{#if admin}}
    <h1> ADMIN</h1>
           
{{/if}}
<div>
    <a href="/autoavaliacao/testeAnsiedade">Ansiedade</a>
    <a href="/autoavaliacao/testeDepressao">Depressao</a>
    <a href="/autoavaliacao/testeEstresse">Estresse</a>
</div>
